/* header contacts */

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--gray-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    color: var(--blue-color);
    /* fill: var(--blue-color); */
        }
}

.header-contacts__item:not(last-child) {
    margin-left: 50px;
}


.icon.envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.icon.smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
