/* header contacts */

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--gray-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header-contacts__item {
} */
.header-contacts__item:not(last-child) {
    margin-left: 50px;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--blue-color);
    /* fill: var(--blue-color); */
}

.icon.envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    /* flex-shrink: 0; */
    fill: currentColor;
}

.icon.smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    /* flex-shrink: 0; */
    fill: currentColor;
}

header li:hover,
header li:focus {
    /* fill: var(--blue-color);
    color: var(--blue-color); */
    cursor: pointer;
}