/* nav-menu */
.nav {
    display: flex;
    align-items: center;
}

/* header li {
} */
.site-nav {
    margin-left: 93px;
}

.site-nav__item {
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.28px;
    /* outline: 1px solid red; */
    position: relative;
}

.site-nav__item:not(last-child) {
    margin-left: 50px;
}

.site-nav__link {
    display: block;
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link::after {
    content: '';
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 48px; */
    width: 100%;
    height: 4px;
    /* flex-shrink: 0; */
    border-radius: 2px;
    background: var(--blue-color);
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link::selection {
    color: var(--blue-color);
}

/* .site-nav a:hover::after, 
.site-nav a:focus::after {
opacity: 1;
} */
.site-nav .current {
    color: var(--blue-color);
}

.site-nav a.current::after {
    opacity: 1;
}